body{
    width: auto;
    height: 100vh;
    /* display: flex;
    justify-content: center;
    align-items: center; */
  
}



.sqr{
    width: 150px;
    height: 150px;
    background-color: red;
    margin-bottom: 10px;
    margin-left: 500px;
}

.sqr-blue{
    width: 300px;
    height: 300px;
    margin-bottom: 10px;
    background-color: blue;
    margin-left: 500px;
     padding-top: 80px;
    padding-left: 50px;
    
}

.mare{
    width: 200px;
   
}

.sqr-green{
    width: 300px;
    height: 300px; 
    background-color: green;
    margin-left: 500px;
    padding-left: 80px;
    padding-top: 80px;
    padding-right: 20px;
  
}

.sqr-yellow{
    width: 200px;
    height: 200px;
    background-color: yellow;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}


