body{
    font-family: Arial, Helvetica, sans-serif;
}

.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.btn-container{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

.add-button{
    background-color: rgb(206, 213, 219);
    border: 1px solid rgb(161, 166, 170);
    border-radius: 20px;
    padding: 10px;
    color: rgb(67, 65, 65);
    cursor: pointer;
    transition: all .3s ease;
}

.add-button:hover{
    scale: 103%;
    background-color: rgb(153, 159, 163);
}

.add-button:active{
    scale: 95%;
    background-color: rgb(72, 74, 75);
    color: white;
}

ul{
    margin: 0;
    padding: 0;
    border-radius: 20px;
}

.list-item{
    list-style: none;
    padding: 10px;
    margin: 0;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 5px;
    text-align: center;
    user-select: none;
}

.color-div-container{
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.change-color{
    width: 10rem;
    height: 10rem;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.green{
    background-color: rgb(155, 195, 141);
}

.yellow{
    background-color: rgb(216, 218, 98);
}

.violet{
    background-color: rgb(147, 141, 195);
}

.red{
    background-color: rgb(195, 141, 141);
}